@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  font-family: "Plus Jakarta Sans Medium", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;

  background-color: var(--color-state-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-white: #ffffff; /* White */
  --color-lime: #D8DB2F; /* Lime */
  --color-lime-opacity: rgba(216, 219, 47, .15);
  --color-black-opacity: rgba(0, 0, 0, .25);
  --color-state-900: #133041; /* State 900 */
  --color-state-700: #4E6E7E; /* State 700 */
  --color-state-500: #6B94A8; /* State 500 */
  --color-state-300: #9ABED5; /* State 300 */
  --color-state-100: #E4F4FD; /* State 100 */
  --color-error: #D73C3C; /* Red (Errors) */

  /* Animation */
  --animation: 150ms ease-in;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  line-height: 1.25;
  letter-spacing: -1px;
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src: url('./assets/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans Medium';
  src: url('./assets/fonts/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}