@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-white: #ffffff; /* White */
  --color-lime: #D8DB2F; /* Lime */
  --color-state-900: #133041; /* State 900 */
  --color-state-700: #4E6E7E; /* State 700 */
  --color-state-500: #6B94A8; /* State 500 */
  --color-state-300: #9ABED5; /* State 300 */
  --color-state-100: #E4F4FD; /* State 100 */
  --color-error: #D73C3C; /* Red (Errors) */

  /* Animation */
  --animation: 150ms ease-in;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style: none;
}